<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="{% url 'index' %}">Home</a></li>
            <li role="presentation"><a href="{% url 'all_clicks' %}">All Clicks</a></li>
            <li role="presentation"><a href="{% url 'all_links' %}">All Urls</a></li>

        </ul>

{% block content %}{% endblock %}

</div></body>
</html>